@media (min-width: 320px) and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
    }
    /* onglet search */
    /* fin */
    /* modification du header */
    header {
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 30px auto;
    }
    .onglet_recherche {
        margin: 14px 14px;
        display: flex;
    }
    .recherche_texte {
        border: 3px solid #9baaac;
        border-right: none;
        padding: 5px;
        height: 20px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #9DBFAF;
        width: 280px;
    }
    .recherche_btn {
        width: 40px;
        height: 36px;
        border: 1px solid #9baaac;
        background: #9baaac;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
    }
    .long {
        width: auto;
        background-image: url(../assets/img/Intersection\ 1.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin: 2% 5%;
        border-radius: 5px;
    }
    .long_deux {
        width: auto;
        background-image: url(../assets/img/long_deux.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        margin: 8% 5%;
        border-radius: 5px;
    }
    .long_trois {
        width: auto;
        background-image: url(../assets/img/long_trois.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        margin: 8% 5%;
        border-radius: 5px;
    }
    .long_quatre {
        width: auto;
        background-image: url(../assets/img/long_quatre.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        margin: 8% 5%;
        border-radius: 5px;
    }
    .long_cinq {
        width: auto;
        background-image: url(../assets/img/long_quatre.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        margin: 8% 5%;
        border-radius: 5px;
    }
    /* menu hanberger */
    #menu__toggle {
        opacity: 0;
    }
    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked~.menu__box {
        visibility: visible;
        left: 0;
    }
    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #95df87;
        transition-duration: .25s;
    }
    .menu__btn>span::before {
        content: '';
        top: -8px;
    }
    .menu__btn>span::after {
        content: '';
        top: 8px;
    }
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
    }
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }
    .menu__item:hover {
        background-color: #CFD8DC;
    }
    /* fin du menu */
    /* 
     .taille{
        width: 40%;
        height: 20vh;
        border-radius: 5px;

    }
    .container{
        height: 45vh;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: auto;

    }
    .container_second, 
    .container-sup{
        display: flex;
        justify-content: space-around;

    }
    .tuto{
        background-image: url(../assets/img/Intersection\ 2.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .cooperative{
        background-image: url(../assets/img/Intersection\ 4.png);
        background-size: cover;
        background-repeat: no-repeat;

    }
    .recette{
        background-image: url(../assets/img/Intersection\ 3.png);
        background-size: cover;
        background-repeat: no-repeat;

    }
    .apropos{
        background-image: url(../assets/img/Intersection\ 5.png);
        background-size: cover;
        background-repeat: no-repeat;

    }

    #titre2{
        text-align: center;
        padding-top: 60% ;
    }
    #titre3{
        padding: 30% 10% 0% 10%;
        
    }
    #titre4{
        padding: 25% 10% 0% 10%;
    }
    #titre5{
        padding: 35% 5% 0% 15%;
    }

    footer{
        width: 100%;
        height: 20vh;
        text-align: center;
    }




    
    */
    p {
        font-family: 'Open Sans', sans-serif;
    }
    h1 {
        color: #000000;
        font-size: 1.4em;
        font-family: 'Open Sans', sans-serif;
    }
    #titre1 {
        text-align: right;
        padding: 70px 5% 0% 0%;
    }
    .description {
        margin-top: 80px;
    }
    /* proprieté acordeon */
    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 10px;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .active,
    .accordion:hover {
        background-color: #ccc;
    }
    .panel {
        padding: 0 18px;
        display: none;
        background-color: lightgrey;
        overflow: hidden;
        border-radius: 8px;
    }
    /* barre icon */
    .icon-bar {
        width: auto;
        background-color: rgb(128, 123, 123);
        overflow: auto;
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }
    .icon-bar a {
        float: left;
        width: 50px;
        text-align: center;
        padding: 2px 0;
        transition: all 0.3s ease;
        color: white;
        font-size: 28px;
    }
    /* 
    .icon-bar button {
        float: left;
        width: 20%;
        text-align: center;
        padding: 2px 0;
        transition: all 0.3s ease;
        font-size: 36px;
        text-decoration: none;
    }
    .icon-bar button:hover {
        background-color: #000;
    }
     */
    .icon-bar a:hover {
        background-color: rgb(172, 48, 48);
    }
}